<!DOCTYPE html>
<html>
<head>
  <title>Hackhaton</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:user_account] %>
  Signed in as <%= current_user.nume %> ( <%= session[:user_type] == "student" ? Student : Company %> ) <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup as Company', '/signupcompany' %> | <%= link_to 'Signup as Student', '/signupstudent' %>
<% end %>

<%= yield %>

</body>
</html>