<h1>Signup!</h1>

<%= form_for :student, url: '/users' do |f| %>

  Account: <%= f.text_field :account %>
  Name: <%= f.text_field :name %>
  University <%= f.text_field :university %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>